<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
    </property>
    <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
    </property>

    <property name="hibernate.connection.url">
      jdbc:mysql://sql7.freesqldatabase.com:3306/sql7142192
    </property>
    <property name="hibernate.connection.password">hHqaefpvS5 </property>
    <property name="hibernate.connection.username">sql7142192 </property>
    <property name="hibernate.archive.autodetection">class</property>
    <property name="hibernate.default_schema">sql7142192</property>
    <!--<property name="hibernate.connection.CharSet">utf8</property>-->
    <!--<property name="hibernate.connection.useUnicode">true</property>-->
    <!--<mapping package="entities"/>-->
    <mapping class="com.boyarskycompany.src.entities.AgreementEntity"/>
    <mapping class="com.boyarskycompany.src.entities.BidEntity"/>
    <mapping class="com.boyarskycompany.src.entities.BidEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.BidtranspmapEntity"/>
    <mapping class="com.boyarskycompany.src.entities.BidtranspmapEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.CargoEntity"/>
    <mapping class="com.boyarskycompany.src.entities.CargoEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.DriverjobEntity"/>
    <mapping class="com.boyarskycompany.src.entities.DriverjobEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.DriverEntity"/>
    <mapping class="com.boyarskycompany.src.entities.ProvidedserviceEntity"/>
    <mapping class="com.boyarskycompany.src.entities.ProvidedserviceEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.RoadlistEntity"/>
    <mapping class="com.boyarskycompany.src.entities.RoadlistEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.TotalbillEntity"/>
    <mapping class="com.boyarskycompany.src.entities.TotalbillEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.TranspmapdriversEntity"/>
    <mapping class="com.boyarskycompany.src.entities.TranspmapdriversEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.TranspmapEntity"/>
    <mapping class="com.boyarskycompany.src.entities.TranspmaptransportEntity"/>
    <mapping class="com.boyarskycompany.src.entities.TranspmaptransportEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.TransportEntity"/>
    <mapping class="com.boyarskycompany.src.entities.VariabledayplandriversEntity"/>
    <mapping class="com.boyarskycompany.src.entities.VariabledayplandriversEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.VariabledayplanEntity"/>
    <mapping class="com.boyarskycompany.src.entities.VariabledayplanEntityPK"/>
    <mapping class="com.boyarskycompany.src.entities.WaybillEntity"/>
    <mapping class="com.boyarskycompany.src.entities.WaybillEntityPK"/>
  </session-factory>
</hibernate-configuration>
